.div_margin {
    margin: 100px;
}

.table {
    width: 100%;
    text-align: left;
}

.table td {
    padding-top: 10px;
    padding-bottom: 10px;
}

#menu {
    background-color: #253A46;
    padding: 20px;
    font-size: 20px;
}

#menu a {
    padding: 50px;
    color: white;
}

body {
    margin: 0;
}

.center {
    text-align: center;
}
.red {
    color: red;
}

.pub-title {
    border-top:1px solid black;
    cursor: pointer;
}

li {
    margin: 15px 0 15px 0;
}
